<template name="app">
  <div class="form-group">
    <button class="btn btn-default" rv-on-click="addPost">Add Post</button>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-6">
      <ul class="list-group">
        <li class="list-group-item" rv-each-post="posts">
            <span rv-on-click="editPost" rv-hide="post.editing">
                {post.text}
            </span>

            <input
               class="form-control post-editor"
               rv-show="post.editing"
               rv-value="post.text"
               rv-on-keyup="onChangePost"
               rv-on-blur="finishEditing"
            />

            <span class="x-button" rv-on-click="removePost" rv-hide="post.editing">x</span>
        </li>
      </ul>
    </div>
  </div>

  Test mode is {testMode}
</template>
